

{% block titre %} {%endblock%}
{% block body %}
{% block stylesheets %}
       {{ encore_entry_link_tags('app') }}
       
      
       <link href="http://localhost/mysite/public/css/tableau.css" rel="stylesheet"  >"
      
    
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.css">
     
       
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
          
      
  {% endblock %}


    
        

<table class="table table-hover table-striped table table-centered  table table-striped" border="1">
    <div class="site-container">
        <h2>Liste des entreprises </h2>
        </div>
<thead>
<tr>
<th></th>
<th>Nom entreprise</th>
<th>email </th>
<th>Adresse</th>

<th>telephone</th>
<th></th>
</tr>
</thead>
<tbody>
{% for entreprise in lesentreprises %}
<tr>
<td>{{entreprise.id}}</td>
<td>{{entreprise.nomentreprise |upper}}</td>
<td>{{entreprise.email }}</td>
<td>{{entreprise.Adresse}}</td>
<td>{{entreprise.telephone}}</td>
<td>
<a class="btn btn-success" href="#">consulter profil</a>


</td>
</tr>

{% else %}
<tr>
<td colspan="5">Aucun abonné</td>
</tr>
{% endfor %}
</button>
    <a href="{{ path('app_home')}}"  class=" btn btn-lg btn-primary" type="reset">accueil</a>

    </div>
</tbody>
</table>
{% endblock %}
